---
title: 96Boards- 32- and 64-bit ARM Boards - Develop & Prototype ARM 
permalink: "/"
layout: boards-home
---
<div class="container-fluid" id="content-container">
    <div class="row" id="featured-products-row">
        <div class="container">
            <div class="row">
                <h2 id="featured-boards">
                    Each board has its own <strong>unique features</strong>, you can <strong>pick and choose</strong><br />
                    one based on the project you are working on.
                </h2>
            </div>
            <div class="row">
                <div id="featured-products-wrapper" class="hidden-xs">
                    {% for product in site.data.featured_products limit:6 %}
                        {% if forloop.index < 4 %}
                        <a href="{{product.url}}">
                            <div class="col-sm-4 featured-product">
                                <h3 class="featured-product-title">{{product.title}}</h3>
                                <span class="featured-product-price">From {{product.price}}</span>
                                <div class="lazyload featured-product-image" style="background-image: url({% asset_path '{{product.image}}' %})"></div>
                            </div>
                        </a>
                        {% else %}
                        <a href="{{product.url}}">
                            <div class="col-sm-4 featured-product bottom">
                                <h3 class="featured-product-title">{{product.title}}</h3>
                                <span class="featured-product-price">From {{product.price}}</span>
                                <div class="lazyload featured-product-image" style="background-image: url({% asset_path '{{product.image}}' %})"></div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <div class="home-carousel owl-carousel owl-theme visible-xs" id="homeCarousel">
                    {% for product in site.data.featured_products limit:6 %}
                        <div class="owl-item__inner">
                            <div class="col-xs-12 visible-xs">
                                <h3 class="featured-product-title">{{product.title}}</h3>
                                <span class="featured-product-price">From {{product.price}}</span>
                                <div class="lazyload featured-product-image" style="background-image: url({% asset_path '{{product.image}}' %})"></div>
                            </div>
                        </div>
                    {% endfor %}               
                </div> <!-- // home product-carousel -->
                
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a id="explore-boards" class="btn explore-boards" href="/products/">Explore Boards</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" id="specifications-row">
        <div class="container">
            <div id="board-specifications" class="hidden-xs">
                <div class="row remove-margins">
                    <div class="col-sm-6">
                        <div class="spec">
                            <div class="col-sm-4 image-container">
                                <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-Consumer.png' %})"></div>
                            </div>
                            <div class="col-sm-8 desc">
                                
                                <div class="col-xs-12 no-padding">
                                    <p>
                                        The 96boards Consumer Edition(CE) specification targets the mobile, embedded and digital home segments.
                                    </p>
                                </div>
                                
                                <div class="col-xs-12 no-padding">
                                    <a class="btn spec-button" href="/products/ce/">Explore Boards</a>
                                </div>
                                
                                <div class="col-xs-12 no-padding">
                                    <a class="btn view-spec" href="https://linaro.co/ce-specification">View Specification</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="spec">
                            <div class="col-sm-4 image-container">
                                <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-Enterprise.png' %})"></div>
                            </div>
                            <div class="col-sm-8 desc">
                                
                                <div class="col-xs-12 no-padding">
                                    <p>
                                        The 96Boards Enterprise Edition (EE) specification targets the networking and server segments
                                    </p>
                                </div>
                                
                                <div class="col-xs-12 no-padding">
                                    <a class="btn spec-button" href="/products/ee/">Explore Boards</a>
                                </div>
                                
                                <div class="col-xs-12 no-padding">
                                    <a class="btn view-spec" href="https://linaro.co/ee-specification">View Specification</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="spec">
                            <div class="col-sm-4 image-container">
                                <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-IoT.png' %})"></div>
                            </div>
                            <div class="col-sm-8 desc">
                                
                                <div class="col-xs-12 no-padding">
                                    <p>
                                        The 96Boards IoT Edition (IE) platform is designed to support development in the Internet of Things (IoT) space.
                                    </p>
                                </div>

                                <div class="col-xs-12 no-padding">
                                    <a class="btn spec-button" href="/products/ie/">Explore Boards</a>
                                </div>
                                
                                <div class="col-xs-12 no-padding">
                                    <a class="btn view-spec" href="https://linaro.co/ie-specification">View Specification</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="spec">
                            <div class="col-sm-4 image-container">
                                <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-Partner.png' %})"></div>
                            </div>
                            <div class="col-sm-8 desc">
                                
                                <div class="col-xs-12 no-padding">
                                    <p>
                                        Explore a wide variety of Partner 96Boards mezzanines, accessories and more to expand on your development experience.
                                    </p>
                                </div>

                                <div class="col-xs-12 no-padding">
                                    <a class="btn spec-button" href="/products/mezzanine/">Explore Boards</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="specification-carousel owl-carousel owl-theme visible-xs" id="homeSpecificationCarousel">         
                           
                <div class="owl-item__inner">
                    <div class="spec">
                        <div class="col-xs-12 image-container">
                            <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-Consumer.png' %})"></div>
                        </div>
                        <div class="col-xs-12 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The 96boards Consumer Edition(CE) specification targets the mobile, embedded and digital home segments.
                                </p>
                            </div>
                            
                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/ce/">Explore Boards</a>
                            </div>
                            
                            <div class="col-xs-12 no-padding">
                                <a class="btn view-spec" href="https://linaro.co/ce-specification">View Specification</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="owl-item__inner">
                    <div class="spec">
                        <div class="col-xs-12 image-container">
                            <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-Enterprise.png' %})"></div>
                        </div>
                        <div class="col-xs-12 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The 96Boards Enterprise Edition (EE) specification targets the networking and server segments
                                </p>
                            </div>
                            
                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/ee/">Explore Boards</a>
                            </div>
                            
                            <div class="col-xs-12 no-padding">
                                <a class="btn view-spec" href="https://linaro.co/ee-specification">View Specification</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="owl-item__inner">
                    <div class="spec">
                        <div class="col-xs-12 image-container">
                            <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-IoT.png' %})"></div>
                        </div>
                        <div class="col-xs-12 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The 96Boards IoT Edition (IE) platform is designed to support development in the Internet of Things (IoT) space.
                                </p>
                            </div>

                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/ie/">Explore Boards</a>
                            </div>
                            
                            <div class="col-xs-12 no-padding">
                                <a class="btn view-spec" href="https://linaro.co/ie-specification">View Specification</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
                <div class="owl-item__inner">
                    <div class="spec">
                        <div class="col-xs-12 image-container">
                            <div class="lazyload spec-image" style="background-image: url({% asset_path '96Boards-Logo_v-Partner.png' %})"></div>
                        </div>
                        <div class="col-xs-12 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The 96boards Consumer Edition(CE) specification targets the mobile, embedded and digital home segments.
                                </p>
                            </div>

                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/mezzanine/">Explore Boards</a>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div> <!-- //home blog carousel -->    
        </div>

    </div>
    
    <div class="row" id="latest-blogs-row">
        
        <div class="container">
            
            <h2 id="latest-blogs-and-news">Latest Blogs & News</h2>
            
            <div id="latest-blogs" class="hidden-xs">
                <div class="row">
                    
                    {% for post in site.posts limit:4 %}
                    {% assign author = site.data.authors | where: "username", post.author | first %}

                       <div class="col-sm-3 blog-post">
                           <div class="row image">
                               <a href="{{post.url}}">
                                   <div class="blog-featured-image-home" {% if assets[post.thumbnail_image] %}
                                style="background-image: url('{% asset_path '{{post.thumbnail_image}}'%}')"
                             {% elsif post.featured_image %}
                                 style="background-image: url('/assets/thumbnails/blog/{{post.featured_image}}')"
                             {% elsif post.image.featured %}
                                {% if post.image.thumb %}
                                      {% if assets[post.image.thumb] %}
                                         style="background-image: url('{% asset_path '{{post.image.thumb}}'%}')"
                                      {% else %}
                                         style="background-image: url('{{post.image.thumb}}')"
                                      {% endif  %}
                                 {% else %}
                                       style="background-image: url('/{{site.mini_magick.thumbnails.destination}}/{{post.image.name}}')"
                                 {% endif %}
                             {% else %}
                                style="background-image: url('{% asset_path 'placeholder.png' %}')"
                             {% endif %} style="background-image: url('/assets/images/blog/thumbs/photobooth-thumb.png')"></div>
                               </a>
                           </div>
                           
                           <div class="row title">
                               <div class="col-xs-12">
                                   <a href="{{post.url}}">
                                       <h3 class="blog-featured-title">{{post.title}}</h3>
                                       <p>
                                           {{ post.content | strip_html | truncatewords:30 }}
                                       </p>
                                   </a>
                               </div>
                           </div>
                           <div class="row author">
                               <div class="col-xs-3 author-image">
                                   <div class="home-author-image" style="background-image: url('{% if author.image %}
                          {% asset_path '{{author.image.name}}' %}
                        {% else %}
                          {% asset_path 'avatar-placeholder.png' %}
                        {% endif %}')"></div>
                               </div>
                               <div class="col-xs-9">
                                   <h3>{% if author.username %}{{author.username}}{% else %}{{post.author}}{% endif %}</h3>
                                   {% if post.date %}
                                   <span class="date">
                                       {{post.date |  date: "%B %-d, %Y"}}
                                   </span>
                                   {% endif %}
                               </div>
                           </div>
                       </div>
                           
                    {% endfor %}
                
                </div>
            </div>
            
            <div class="blog-carousel owl-carousel owl-theme visible-xs" id="homeBlogCarousel">  
                
                {% for post in site.posts limit:4 %}
                
                {% assign author = site.data.authors | where: "username", post.author | first %}
                                
                <div class="owl-item__inner">
                  <div class="col-xs-12 no-padding visible-xs">
                   <div class="col-xs-12 no-padding blog-post">
                       <div class="row image">
                           <a href="{{post.url}}">
                               <div class="lazyload blog-featured-image-home" {% if assets[post.thumbnail_image] %}
                            style="background-image: url('{% asset_path '{{post.thumbnail_image}}'%}')"
                         {% elsif post.featured_image %}
                             style="background-image: url('/assets/thumbnails/blog/{{post.featured_image}}')"
                         {% elsif post.image.featured %}
                            {% if post.image.thumb %}
                                  {% if assets[post.image.thumb] %}
                                     style="background-image: url('{% asset_path '{{post.image.thumb}}'%}')"
                                  {% else %}
                                     style="background-image: url('{{post.image.thumb}}')"
                                  {% endif  %}
                             {% else %}
                                   style="background-image: url('/{{site.mini_magick.thumbnails.destination}}/{{post.image.name}}')"
                             {% endif %}
                         {% else %}
                            style="background-image: url('{% asset_path 'placeholder.png' %}')"
                         {% endif %} style="background-image: url('/assets/images/blog/thumbs/photobooth-thumb.png')"></div>
                           </a>
                       </div>
                       
                       <div class="row title">
                           <div class="col-xs-12">
                               <a href="{{post.url}}">
                                   <h3 class="blog-featured-title">{{post.title}}</h3>
                                   <p>
                                       {{ post.content | strip_html | truncatewords:30 }}
                                   </p>
                               </a>
                           </div>
                       </div>
                       <div class="row author">
                           <div class="col-xs-3 author-image">
                               <div class="home-author-image" style="background-image: url('{% if author.image %}
                      {% asset_path '{{author.image.name}}' %}
                    {% else %}
                      {% asset_path 'avatar-placeholder.png' %}
                    {% endif %}')"></div>
                           </div>
                           <div class="col-xs-9">
                               <h3>{% if author.username %}{{author.username}}{% else %}{{post.author}}{% endif %}</h3>
                               {% if post.date %}
                               <span class="date">
                                   {{post.date |  date:  "%B %-d, %Y"}}
                               </span>
                               {% endif %}
                           </div>
                       </div>
                   </div>                       
                   </div>
               </div>
                {% endfor %}

            </div> <!-- //home blog carousel -->
        </div>
    </div>
    
    <div class="row">
        <div class="container">
            <h2 class="text-center">Projects with 96Boards</h2>
        </div>
    </div>
    
    <div class="row" id="projects-row">
        {% assign projects = site.projects | where: "project", "true" | sample: 8 %}
        {% capture order %}1{% endcapture %}
        {% for each in projects %}
        {% assign project-uri = each.permalink | split: "/" %}
        {% assign project-uri = project-uri[2] | downcase  %}
        <a href="{{each.url}}">
                <div
                {% if each.thumbnail_image %}
                    style="background-image: url(/projects/view/{{project-uri}}/images/{{each.thumbnail_image}});"
                {% elsif each.image.thumb %}
                    style="background-image: url(/projects/view/{{project-uri}}/images/{{each.image.thumb}});"
                {% else %}
                    style="background-image: url(/projects/view/{{project-uri}}/images/{{each.images[0]}});"
                {% endif %}
                 class="home-page-project-image img-responsive lazyload center-block col-xs-6 col-sm-3">
                 <div class="overlay"></div>
                 <div class="project-title">
                     {{each.title}}
                 </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a id="explore-boards" class="btn explore-boards" href="/products/">Explore Boards</a>
        </div>
    </div>
</div>





