---
layout: container-breadcrumb-tabs
title:  96boards Products
permalink: /products/
status: active
description: |-
    96Boards includes Consumer Edition, Enterprise Edition, IoT Edition, Mezzanine Products and Accessories.
    Visit 96Boards product page to see which boards or specification suites you.
keywords: Consumer Edition Boards, Enterprise Developement Boards, ARM 64 Dev Boards, IoT Production boards, hacker, Makers
css-package: products
---
<div class="row">
    <div class="col-md-8" class="description">
            <p id="collection-description">{{ page.description }}</p>
    </div>
    <div class="col-md-4 fade-in-one hidden-sm hidden-xs">
          <img id="collection-image" class="img-responsive center-block" src="{% asset_path '96boards-logo-300x109.png' %}" alt="96Boards logo small.">
    </div>

</div>


<div id="grid">

{% assign products_array = site.products | where: "is_featured", "true" | sort: "featured_product_order" | ascending | limit: 7 %}
{% assign products_array =  products_array | where: "display_product", "true" %}
<div class="row">
{% for product in products_array %}
    {% assign product-url = product.permalink | split: "/" %}
    <div class="{{product.product_specification | downcase }}col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="col-item">
            <div class="photo">
                <a href="{{product.permalink}}">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="../product/{{product.product_specification}}/{{product-url[2]}}/images/{{ product.product_images[0]}}" class="lazyload img-responsive" alt="a" />
                </a>
            </div>
            <div class="info">
                <div class="product-title col-md-12 text-center">
                    <a href="{{product.permalink}}">
                        <h5>{{ product.product_title }}</h5>
                    </a>
                </div>
                <div class="product-short-description">
                    {{ product.product_short_desc | slice: 0, 50 }}...
                </div>
                <div class="separator clear-left">
                    <div class="dropdown dropdown-container btn-group dropup btn-block" class="product-buy-dropdown">
                        <a href="{{ product.permalink }}" class="btn btn-primary btn-read-more">Read More</a>
                        <button type="button" class="btn btn-primary dropdown-toggle btn-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Buy <i class="button-icon glyphicon glyphicon-shopping-cart"></i>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu buy-dropup-menu">
                          {% if product.out-of-stock == true %}
                          <li>Currently out of stock.</li>
                          {% else %}
                          {% for buy_link in product.product_buy_links %}
                          <li><a href="{{ buy_link.link-url }}">{{ buy_link.link-title }}</a></li>
                          {% endfor %}
                          {% endif  %}
                      </ul>
                    </div>
                </div>

                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>
