---
layout: container-breadcrumb-tabs
title: Internet of Things Edition
css-package: products
permalink: "/products/ie/"
description: |-
    The 96Boards IoT Edition (IE) platform is designed to support development in the Internet of Things (IoT) space.
specification_path: /documentation/Specifications/96Boards-IE-Specification.pdf
specification_link: https://linaro.co/ie-specification
specification_image: 96Boards-Logo_IoT.png
---
<div class="container">
        <div class="row">
            <div class="col-md-8" class="description">
                    <p id="collection-description">{{ page.description }}</p>
            </div>
            <div class="col-md-4">
                  <img id="collection-image" class="img-responsive center-block hidden-sm hidden-xs" src="{% asset_path '{{page.specification_image}}' %}" alt="96Boards logo small.">
                  <br/>
                  <a href="{{ page.specification_link }}" id="specification-button" class="btn btn-primary center-block specification-image">Specification <i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="grid">
            {% assign products_array = site.product | where: "product_specification", "ie"%}
            {% assign products_array =  products_array | where: "display_product", "true" %}
            <div class="row">
            {% for product in products_array %}
            {% assign product-url = product.permalink | split: "/" %}

                <div class="mix {{product.product_specification | downcase }} col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="col-item">
                        <div class="photo">
                            <a href="{{product.permalink}}">
                                {% capture image_path %}_product/{{product.product_specification}}/{{product-url[2]}}/images/{{ product.product_images[0]}}{% endcapture %}
                                {% capture full_path %}/product/{{product.product_specification}}/{{product-url[2]}}/images/{{ product.product_images[0]}}{% endcapture %}
                                {% responsive_image_block %}
                                template: _includes/thumb.html
                                path: {{ image_path }}
                                fullpath: {{ full_path }}
                                {% if product.title %}
                                title: {{ product.title}}
                                alt: {{ product.title }}
                                {% endif %}
                                {% endresponsive_image_block %}
                            </a>
                        </div>
                        <div class="info">
                            <div class="product-title col-md-12 text-center">
                                <a href="{{product.permalink}}">
                                    <h5>{{ product.title }}</h5>
                                </a>
                            </div>
                            <div class="product-short-description">
                                {{ product.product_short_desc | slice: 0, 50 }}...
                            </div>
                            <div class="separator clear-left">
                                <div class="dropdown dropdown-container btn-group dropup btn-block" class="product-buy-dropdown">
                                    <a href="{{ product.permalink }}" class="btn btn-primary btn-read-more">View Product</a>
                                    <button type="button" class="btn btn-primary dropdown-toggle btn-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Buy <i class="button-icon glyphicon glyphicon-shopping-cart"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul class="dropdown-menu buy-dropup-menu">
                                      {% for buy_link in product.product_buy_links %}
                                      <li><a href="{{ buy_link.link-url }}">{{ buy_link.link-title }}</a></li>
                                      {% endfor %}
                                  </ul>
                                </div>
                            </div>

                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

</div>
