// Set all boards to display none
td.board {display: none;}
th.board {display: none;}
// [data-board*="dragonboard410c"] {display: table-cell;}
// [data-board*="ultra96"] {display: table-cell;}
div#compare-boards-modal {
    z-index: 999999;
}
ul.boards-to-compare {
    padding-left: 0;
}
#compare-table i.fa.fa-times {
    float: right;
}
#compare-boards-modal a.btn.btn-default {
    border-radius: 0px;
    color: black;
    background-color: white;
}
label.checkbox {
    text-align: left;
}
span.caret-container {
    width: 100%;
    display: inline-block;
}

li.multiselect-item.multiselect-group {
    overflow: hidden;
}

#wrapper b.caret {
    transform: scale(2);
}

li.multiselect-item.multiselect-group{
    min-width: 225px;
}