// Set all boards to display none
td.board {display: none;}
th.board {display: none;}
// [data-board*="dragonboard410c"] {display: table-cell;}
// [data-board*="ultra96"] {display: table-cell;}
div#compare-boards-modal {
    z-index: 999999;
}
ul.boards-to-compare {
    padding-left: 0;
}
#compare-boards-modal a.btn.btn-default {
    border-radius: 0px;
    color: black;
    background-color: white;
}
label.checkbox {
    text-align: left;
}