div#homepage-header {
    background-position-y: -50px;
    background-position-x: -150px;
}
article.post-content img.img-responsive.lazyloaded {
    width: auto;
    height: auto;
}
#wrapper .members-panel >.panel-heading {
    border: none;
}

#wrapper .col-md-12.members-panel {
    border: none;
}

.members-panel.panel {
    box-shadow: none;
    border: none;
}
td {
    padding: 15px;
}
div#contact-thanks {
    margin-top: -20px;
}


#banner-area-homepage{
    padding-top:60px;
}

//Body
body {
    background:transparent;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    font-weight: 300;
    height  : 100%;
    overflow: auto;
    font-family: 'LatoWeb', HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    -webkit-font-smoothing: antialiased;
}

div#github_controls {
    margin: 10px 0;
}
div#github_controls a.btn {
    padding:5px;
    background-color: #fff;
    color: #333;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 500ms ease;
}

div#github_controls a.btn:hover {
    background-color: #333;
    color: #fff;
}
span.top-text {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
span.bottom-text {
    display: block;
    font-size: 11px;
}

i.icon-github-circled.center-block {
    font-size: 24px;
}
div#github_controls a#github_home:hover {
    color: #19947b;
}
div#github_controls a#github_home {
    background-color: #333;
    color: #fff;

    transition: all 250ms ease;
}

 html.ios7 body {height: 100%;position: fixed;width: 100%;}

 html {
     height  : 100%;
     background-color: #222222;
    //  overflow: hidden; Will break the sticky navbar - be warned
}

// For images in documentation section
td > img {
    height: auto;
}
.main-cont {
    background-color:#fff;
}
.members-img {
    width: auto;
    max-height: 100px;
}
.container-fluid {
    background-color: white;
}
//Selection for Highlighting Text on Web Page.
::-webkit-selection,
::-moz-selection,
::selection {
    background-color: #19947B;
    color: #fff;
}
//Search Dropdown input focus
#searchDropdown input:focus {
    outline: none;
}
//Headings
h1, h2, h3, h4, h5, h6 {
    font-family: 'LatoWeb', HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

//Horizontal Rule Styling
hr {
    border-top: 1px solid #eee;
}

//Paragraphs
p{
    font-size: 20px;
    font-weight:300;
    color: #000000;
    line-height: 1.66em;
    word-wrap: break-word;
}
//Padded Paragraph
.padded-para{
    padding:20px;
}

#spaced-para{
    font-size: 18px;
    line-height: 40px;
}

// Paragraphs that are justified.
p .justified{
    text-align: justify;
    text-justify: inter-word;
}

// Tab Content paragraph
#content-container p {
    font-size: 20px;
    color: black;
    line-height: 1.66em;
}
//Main Container Style margin accounts for Nav
#main-container{
    margin-top:80px;
    overflow-x: hidden;
}

//Content Container
.row.content-container{ margin-top:20px;}

//Content Container block elements
.content-container p {
    font-size: 20px;
    color: black;
    line-height: 1.66em;
}
.content-container ul { font-size:18px; }
.content-container ol { font-size: 18px;}



//Homepage Sub Tag
p.sub-tag {
    width: 65%;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 21px;
    color: #FFF;
    font-weight: 200;
}

// Buttons
#buttons > a
{
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

//Partners Panel Styling.
.partners-panel img {
    margin-bottom: 60px;
    height:25%;
    width:80%;
}
.partners-panel{
    height:500px;
    margin-top: 40px;
}
//Bottom Border Five Pixels.
.bottom-border-five{ margin-bottom: 5px; }

//Alternate row for theme
.row .alternate-row {
    background-color: #E5E5E5;
    padding: 40px 0;
}
.small-img{
    height:100px;
    width:auto;
}
@media (min-width: $screen-md) {
    .partners-panel {
        margin-top:80px;
    }
    .margin-image {
        padding:40px;
    }

}
.members-panel { margin-top:50px; }

.margin-top { margin-top: 40px;}

.panel-body.members-panel-body {
    margin-top: -55px;
    border: 0;
}
.new-panel .panel-primary > .panel-heading {
    color: #000000;
    font-weight: bold;
    background-color: transparent;
    border:0;
}

// Iframe for Search page.
#searchIframe {
    border:none;
    top: -60px;
    height: 1000px;
}

//Vertical Center
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

//Contact Hero Banner
.contact-hero{
    height:200px;
    line-height: 200px;
    text-align: center;
    font-size:18px;
    color: #fff;
    background: url(asset_path('openhours-noise.png')) repeat;
}

//----------BOOTSTRAP STYLES ----------------

.panel-primary {
    border:0;
}

//Bootstrap Glyphicon Override.
.glyphicon {
    width: 14px;
    height: 14px;
}
//Remove button focus
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

//Jumbotron Custom Styling
.jumbotron{
    margin-bottom: 0;
    margin-top:0;
    background: #FFF; /* Old browsers */
    background: -moz-linear-gradient(top, #2a4b41 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a4b41 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a4b41 0%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#2a4b41, endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

@media(max-width:991px){
    .partners-panel {
    height: auto;
}
}


.blog-read-more-btn{
    background-color: white;
    border: 2px solid black;
    border-radius: 0px;
    font-weight: normal;
    color: $gray-base;
    transition: all 1s ease;
    padding: 6px;
}
.blog-read-more-btn:hover{
    background-color: $brand-primary;
    color: white;
    transition: all 1s ease;
}
.blog-read-more-btn:active, .blog-read-more-btn:focus{
    background-color: $brand-primary;
    color: white;
    transition: all 1s ease;
}

#searchEmbed {
        margin-bottom: 20px;
        display:block;
        overflow: auto;
}


//Edit me on github styles

span.edit-me-on-github-text {
    font-size: 12px;
}

.edit-me-on-github.text-center {
    float: right;
}

i.edit-on-github-icon.icon-github-circled.center-block {
    font-size: 40px;
}


//Blockquotes
blockquote {
    border-left: 5px solid $brand-primary;
}

.embed-responsive.embed-responsive-16by9 {
    margin-bottom: 10px;
}