.go_event_block {
    height: 300px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #eee;
    h3.flex-center {
        color: white !important;
        text-align: center;
    }
    &:hover {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
    }
}