// Adjust the margin-top of the home wrapper to account for the universal nav
#wrapper.home {
    margin-top: 31px;
}
.featured-product-image {
    background-size: cover;
    object-fit: contain;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    top: 50px;
    position: relative;
}
.col-sm-4.featured-product::after {
    content  : "";
    position: absolute;
    z-index  : 4;
    bottom: -30px;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
    width    : 100%;
    height: 3em;
    
}
#wrapper #latest-blogs p {
    font-size: 10px;
}
#buttons > a.btn.btn-primary.btn-lg.fade-in-three.bottom-border-five {
    background-color: #060606;
    border-color: #3c3c3c;
    color: #fff;
    border-radius: 2px !important;
}
#buttons > a.btn.btn-primary.btn-lg.fade-in-three.bottom-border-five:hover {
    background-color: #000;
    color: #fff;
}
#board-specifications a.btn.view-spec:hover {
    background-color:#000;
    color:white ;
}
#board-specifications a.btn.spec-button:hover {
    background-color:#fff;  
    color:#000 ;
    border:1px solid #000;
}

.author h3 {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-xs-3.author-image {
    padding-left: 26px;
}

h3.blog-featured-title {
    font-size: 14px;
}


.author h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

span.date {
    font-size: 10px;
}

.row.author {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    height: 70px;
}
.col-sm-3.blog-post {
    overflow: hidden;
    border: 1px solid #eee;
}
@media(max-width:$screen-xs-min){
    h2#featured-boards {
        font-size: 20px;
    }
}
@media(max-width:$screen-sm-min){
    #wrapper .blog-post p {
        font-size: 10px;
    }
    #jumbotron-caption span.linaro-green {
        font-size: 32px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

#jumbotron-caption span.linaro-green {
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    display:  block;
}


div#featured-products-wrapper {
    overflow: auto;
    border: 1px solid;
    border-radius: 15px;
}

.col-sm-4.featured-product {
    height: 250px;
    text-align: center;
    overflow: hidden;
}

h3.featured-product-title {
    text-align: center;
    font-size: 18px;
}
span.featured-product-price {
    color: black;
    font-style: italic;
}

.col-sm-4.featured-product:hover .featured-product-image {
    top:-40px;
    transition: all 500ms ease-in-out;
}

.featured-product-image {
    transition: all 1s ease-in-out;
}

.col-sm-4.featured-product:hover .featured-product-title{
    opacity: 0;
    transition: all 400ms ease-in-out;
}
.col-sm-4.featured-product:hover .featured-product-price{
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.featured-product-image {
    transition: all 1s ease-in-out;
}

.col-sm-4.featured-product.bottom {
    border-top: 1px solid #000;
}

.spec-image.lazyloaded {
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

div#specifications-row {
    background-color: #F8FCFF;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
}

div#latest-blogs-row {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid  #e2e2e2;
    padding-bottom: 45px;
}
#latest-blogs-row .owl-dots {
    margin-top: 35px;
}
#wrapper a.explore-btn {
    border: 1px solid #000;
    border-radius: 20px;
    height:20px;
    width:200px;
    margin-top:50px;
    margin-bottom:50px;
    line-height:1px;
    padding: 15px;
    color: #000;

    transition: all 500ms ease;
}

#homeBlogCarousel .blog-featured-image-home {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#latest-blogs .blog-featured-image-home {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#wrapper a.explore-btn:hover {
    color: #fff;
    background-color: #000;
}

h2#featured-boards {
    text-align: center;
    margin-top: 40px;
    font-weight: normal;
    margin-bottom: 50px;
}

.col-sm-8.desc {
    font-size: 18px;
}

#board-specifications .col-sm-8 p {
    font-size: 17px;
}

.spec {
    overflow: auto;
    margin-bottom: 20px;
    border:1px solid #d6d6d6;
    background-color:#fff;
    padding:30px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 25px -8px rgb(232, 232, 232);
    -moz-box-shadow: 0px 0px 25px -8px rgb(204, 204, 204);
    box-shadow: 0px 0px 25px -8px rgb(222, 222, 222);
}

.blog-featured-image-home {
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.row.title {
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    overflow: hidden;
    border-top: 1px solid #eee;
}
.row.title::after {
    content  : "";
    position: relative;
    z-index  : 1;
    bottom: 100px;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 90%);
    width    : 100%;
    height: 6em;
  }

h3.blog-featured-title {
    font-size: 14px;
}

div#latest-blogs {
    border: 1px solid #eee;
    overflow: hidden;
    border-radius: 15px;
}

#homeCarousel {
    text-align: center;
}

#homeCarousel .featured-product-image {
    top: 0px;
}
#contact-thanks h3.text-center {
    color: white;
}

.home-author-image {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-size: cover;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    border-radius: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 100px;
}

a.btn.spec-button {
    width: 100%;
    border: 1px solid #eee;
    background-color: #000;
    color: white;
    
    transition: all 300ms ease;
}

a.btn.view-spec {
    width: 100%;
    border: 1px solid #000;
    color: black;
    margin: 10px 0;
    transition: all 300ms ease;
}

#board-specifications .spec >
 p {
    font-size: 8px !important;
}

div#homeSpecificationCarousel p {
    font-size: 14px;
    margin: 30px 0;
}

.col-xs-12.no-padding.blog-post {
    border: 1px solid #eee;
    overflow: hidden;
}


#latest-blogs-row h2#latest-blogs-and-news {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 30px;
}
div#projects-row .home-page-project-image {
    height: 300px;
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0;
    overflow: hidden;
}
.home-page-project-image img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
div#projects-row .home-page-project-image .overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 999999;
    opacity: .7;
    top: 0px;
    transition: all 300ms ease;
    left: 0px;
}
div#projects-row .home-page-project-image:hover > .overlay{
    opacity: 0.3;
}
.project-title {
    font-size: 20px;
    color: #fff;
    z-index: 999999;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 40%;
    opacity: 1;
    transition-delay: 200ms;
    transition: all 300ms ease;
}
div#projects-row .home-page-project-image:hover > .project-title{
    opacity: 0;
}
div#projects-row {
    background-color: black;
    -webkit-clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 5%);
    -moz-clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 5%);
    clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 5%);
    padding-top:30px;
    overflow: auto;
}
@media(max-width:$screen-xs-min){ 
    div#projects-row {
        background-color: black;
        -webkit-clip-path: polygon(100% 0%, 100% 98%, 0% 100%, 0% 2%);
        -moz-clip-path: polygon(100% 0%, 100% 98%, 0% 100%, 0% 2%);
        clip-path: polygon(100% 0%, 100% 98%, 0% 100%, 0% 2%);
        padding-top:30px;
    }
    div#latest-blogs-row {
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid  #e2e2e2;
        padding-bottom: 15px;
    }
}

.blog-featured-image-home:hover {
    transform: scale(1.3);
}
.blog-featured-image-home {
    z-index: -100;
    transition: all 5s ease;
    transition-delay: 200ms;
}

.row.image {
    overflow: hidden;
    z-index: -1;
}
h1.fly.center-block {
    color: white;
}
p.fly.center-block {
    color: white;
}
nav#universal-nav {
    z-index: 2;
    position: static;
}
nav#main-navigation {
    z-index: 9999;
    /* position: relative; */
}
.container-fluid.footer {
    z-index: 99999;
    position: relative;
}
@media (max-width: $screen-sm-min){
    #homepage-heading {
        font-size: 32px !important;
    }
}
#wrapper h2 {
    text-align: center;
    margin-bottom: 30px;
}
#wrapper .blog-post .title p {
    font-size: 11px;
}
#wrapper .blog-post .title a:hover {
    text-decoration: none !important;
    color: black;
}
#wrapper .blog-carousel a:hover {
    text-decoration: none !important;
    color: black;
}
#wrapper .blog-carousel p {
    font-size: 11px;
}
#wrapper .blog-carousel a:hover {
    text-decoration: none !important;
    color: black;
}
span.line-one {
    display: block;
    font-size: 22px;
    color: #ffdf84;
}

span.line-two {
    display: block;
    color: #ffdf84;
}