#grid .project_block {
    display:block;
    margin-bottom: 50px;
}
#grid  .project_image{
  width: auto;
  height: 100%;
}
 #grid  .project_block a:first-child {
    overflow: hidden;
    height: 200px;
    display: block;
  }
#grid p.project_description {
    font-size: 12px;
    height:60px;
    overflow:hidden;
    margin-bottom:20px;
    text-align: center;
}
#grid .project_title {
    min-height: 35px;
    text-align: center;
}
div#grid {
    margin-top: 50px;
}

@media(max-width: $screen-sm-min){
    #grid  .project_block a:first-child {
       overflow: hidden;
       height: 150px;
       display: block;
     }
}

select.form-control.filter-select {
    display: inline-block;
    width: 200px;
    background-color: #333333;
    color: white;
    outline: none;
    margin-top: 5px;
}

select.form-control.filter-select:focus{
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
#project-filters .btn-group {
    margin-top: -3px;
}