#grid .project_block {
    display:block;
    margin-bottom: 50px;
}
#grid  .project_image{
  width: auto;
  height: 100%;
}
 #grid  .project_block a:first-child {
    overflow: hidden;
    height: 200px;
    display: block;
  }
#grid p.project_description {
    font-size: 12px;
    height:60px;
    overflow:hidden;
    margin-bottom:20px;
    text-align: center;
}
#grid .project_title {
    min-height: 35px;
    text-align: center;
}
div#grid {
    margin-top: 50px;
}
