---
layout: container-breadcrumb-tabs
title: Mezzanine Products
permalink: "/products/mezzanine/"
css-package: products
description: |-
    96Boards mezzanine products let you expand your Consumer Edition or Enterprise
    Edition 96Boards with new interfaces for IoT, industrial control, and other
    embedded applications. The following mezzanine expansion boards are currently available.
    Please take some time to review our [mezzanine guidelines](https&#58;//github.com/96boards/documentation/raw/master/mezzanine/files/mezzanine-design-guidelines.pdf) document for some helpful design guidelines and resources.
specification-logo: 96Boards-Logo_Partner-small.png
---

<div class="row">
    <div class="col-md-8" class="description">
        <p id="collection-description" markdown="1">
        {{ page.description | markdownify }}
        </p>
    </div>
    <div class="col-md-4">
          <img id="collection-image" class="img-responsive center-block hidden-sm hidden-xs" src="{% asset_path '{{ page.specification-logo }}'%}" alt="96Boards logo small.">

    </div>

</div>

<div id="grid">
    {% assign products_array = site.product | where: "product_specification", "mezzanine"%}
    {% assign products_array =  products_array | where: "display_product", "true" %}
    <div class="row">
    {% for product in products_array %}
    {% assign product-url = product.permalink | split: "/" %}

        <div class="mix {{product.product_specification | downcase }} col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="col-item">
                <div class="photo">
                    <a href="{{product.permalink}}">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="../../product/{{product.product_specification}}/{{product-url[2]}}/images/{{ product.product_images[0]}}"
                        class="img-responsive lazyload" alt="a" />
                    </a>
                </div>
                <div class="info">
                    <div class="product-title col-md-12 text-center">
                        <a href="{{product.permalink}}">
                            <h5>{{ product.title }}</h5>
                        </a>
                    </div>
                    <div class="product-short-description">
                        {{ product.product_short_desc | slice: 0, 50 }}...
                    </div>
                    <div class="separator clear-left">
                        <div class="dropdown dropdown-container btn-group dropup btn-block" class="product-buy-dropdown">
                            <a href="{{ product.permalink }}" class="btn btn-primary btn-read-more">Read More</a>
                            <button type="button" class="btn btn-primary dropdown-toggle btn-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Buy <i class="button-icon glyphicon glyphicon-shopping-cart"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu buy-dropup-menu">
                              {% for buy_link in product.product_buy_links %}
                              <li><a href="{{ buy_link.link-url }}">{{ buy_link.link-title }}</a></li>
                              {% endfor %}
                          </ul>
                        </div>
                    </div>

                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
