---
title: News
permalink: /news/
description: >
    Here you can find all the latest news articles featuring 96Boards including Linaro press releases and external sources.
layout: jumbotron
jumbotron:
    animation: fade
    background-image: /assets/images/content/96boards-banner-3.jpg
js-package: news
---
<div class="row" id="content-container">
{% include sticky-tab-bar.html %}
    <div class="container" markdown="1">
        <div class="col-md-6">
            <h3>96Boards Official News
            <ul class="list-group" id="boards-news"></ul>
        </div>
        <div class="col-md-6">
            <h3>96Boards in the News</h3>
            <ul class="list-group" id="external-news">
                {% assign external-news = site.data.news.entries | where: "tag","external-news" %}
                {% for news in external-news %}
                    <a target="_blank" href="{{ news.link | capitalize }}" class="list-group-item">{{ news.title }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include members.html %}
