---
layout: container-breadcrumb-tabs
title: Projects with 96Boards
permalink: "/projects/"
description: |-
    The 96Boards projects that have been announced are shown below.
    Click on the links to find out more about the projects.
css-package: projects
js-package: projects
---
<p>
    This projects listed on this page are from the <a href="https://github.com/96boards-projects">96Boards Projects Github</a> where you can submit a project to be listed on here by creating a pull request. Project submissions are always welcome. For instructions on how to submit your 96Boards projects and/or contribute to already existing projects, please <a href="/projects/submit/" target="_blank">click here.</a>
</p>

<div id="project-filters">
    <div class="btn-group" role="group" aria-label="Project Filter Buttons">
        <button class="btn btn-default" data-mixitup-control type="button" data-filter="all">All</button>
        <button class="btn btn-default" data-mixitup-control  type="button" data-sort="order:asc"><i class="glyphicon glyphicon-arrow-up"></i></button>
        <button class="btn btn-default" data-mixitup-control type="button" data-sort="order:descending"><i class="glyphicon glyphicon-arrow-down"></i></button>
        <button class="btn btn-default" data-mixitup-control type="button" data-sort="random"><i class="glyphicon glyphicon-random"></i></button>
    </div>
    <select class="form-control filter-select" data-mixitup-control>
        <option value="all">Filter by Board</option>
        {% assign boards = site.product | where: "display_product", "true" %}
        {% for board in boards %}
          <option value=".{{board.title}}">{{board.title}}</option>
        {% endfor %}
    </select>
    <select class="form-control filter-select" data-mixitup-control>
        <option value="all">Filter by Vertical</option>
        {% for vertical in site.data.verticals %}
          <option value=".{{vertical}}">{{vertical}}</option>
        {% endfor %}
    </select>
</div>

<div id="grid" class="container mixitup-container">
    {% assign projects = site.projects | where: "project", "true" %}
    {% assign order = 1 %}
    {% for each in projects %}
        {% assign project-uri = each.permalink | split: "/" %}
        {% assign project-uri = project-uri[2] | downcase  %}
        {% if each.title %}
            {% assign page_base = each.permalink | split: "/" %}
                <div data-name="{{each.title}}" class="{% if each.categories %}{% for tag in each.categories %}{{tag}} {% endfor %}{% endif %}project_block project-item mix all col-md-3 col-sm-4 col-xs-6" data-order="{{order}}">
                        <a href="{{each.permalink}}">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            {% if each.thumbnail_image %}
                                data-src="/projects/view/{{project-uri}}/images/{{each.thumbnail_image}}"
                            {% elsif each.image.thumb %}
                                data-src="/projects/view/{{project-uri}}/images/{{each.image.thumb}}"
                            {% else %}
                                data-src="/projects/view/{{project-uri}}/images/{{each.images[0]}}"
                            {% endif %}
                             class="project_image lazyload center-block">
                        </a>
                        <a href="{{each.permalink}}">
                            <h5 class="project_title">{{each.title | truncate: 30}}</h5>
                        </a>
                        <p class="project_description">
                            {% if each.description %}
                                {{each.description | truncatewords: 20 }}
                            {% else %}
                                {{ each.content | strip_html | truncatewords:20 }}
                            {% endif %}
                        </p>
                </div>
                {% assign order = order | plus: 1 %}
        {% endif %}
    {% endfor %}
</div>
