---
layout: empty-container-page
title: Projects
permalink: "/projects/"
description: |-
    The 96Boards projects that have been announced are shown below.
    Click on the links to find out more about the projects.
redirect_from:
- /project/demos/
- /project/accessories/
css-pack: projects
---
<h1>96Boards projects</h1>
<p>
    This projects listed on this page are from the <a href="http://github.com/96boards">96boards github</a> where you can submit a project to be listed on here by creating a pull request.
    Project submissions are always welcome. For instructions on how to submit your 96Boards projects and/or contribute to already existing projects, please visit the links below.
</p>
<br/>
<div id="grid" class="container row my-shuffle-container">
    {% assign projects = site.projects | where: "project", "true" %}
    {% capture order %}1{% endcapture %}
    {% for each in projects %}
        {% if each.title %}
            {% assign page_base = each.permalink | split: "/" %}
                <div data-name="{{each.title}}" data-cat="{% if each.categories %}{% for tag in each.categories %}{{tag}}{% endfor %}{% endif %}" class="project_block mix all {% if each.categories %}{% for tag in each.categories %}{{tag}} {% endfor %}{% endif %} col-md-3 col-sm-4 col-xs-6">
                        <a href="{{each.permalink}}">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            {% if each.thumbnail_image %}
                            data-src="{% asset_path '{{each.thumbnail_image}}' %}"
                            {% elsif each.images %}
                            data-src="/assets/thumbnails/projects/{{each.images[0]}}"
                            {% else %}
                            data-src="{% asset_path 'placeholder.png' %}"
                            {% endif %}
                             class="project_image lazyload center-block">
                        </a>
                        <a href="{{each.permalink}}">
                            <h5 class="project_title">{{each.title | truncate: 30}}</h5>
                        </a>
                        <p class="project_description">
                            {{each.description | truncatewords: 20 }}
                        </p>
                </div>
        {% endif %}
    {% endfor %}
</div>
