---
layout: container-breadcrumb-tabs
title: Mezzanine Products
permalink: "/products/mezzanine/"
css-package: products
js-package: products
description: |-
    96Boards mezzanine products let you expand your Consumer Edition or Enterprise
    Edition 96Boards with new interfaces for IoT, industrial control, and other
    embedded applications. The following mezzanine expansion boards are currently available.
    Please take some time to review our [mezzanine guidelines](https&#58;//github.com/96boards/documentation/raw/master/mezzanine/files/mezzanine-design-guidelines.pdf) document for some helpful design guidelines and resources.
specification-logo: 96Boards-Logo_Partner-small.png
---

<div class="row">
    <div class="col-md-8" class="description">
        <p id="collection-description" markdown="1">
        {{ page.description | markdownify }}
        </p>
    </div>
    <div class="col-md-4">
          <img id="collection-image" class="img-responsive center-block hidden-sm hidden-xs" src="{% asset_path '{{ page.specification-logo }}'%}" alt="96Boards logo small.">
    </div>
</div>
{% include product-filters.html hide_spec="true" %}
{% include compare-boards-modal.html %}
{% include display-products.html specification="mezzanine" %}