---
import { Image, getImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"pages">["data"]["hero"];

const { title, background_image, style, inner_image, description, title_style } = Astro.props!;

---

<section
  class:list={[
    style,
    "hero-background",
    "flex flex-col items-center text-white justify-center px-5 h-96",
  ]}
>
  {inner_image ?  <Image
    src={inner_image.src}
    alt={inner_image.alt}
    class="w-64"
  /> : <></>}
  <div class="max-w-3xl text-center mx-auto">
  <h1 class:list={["text-inherit text-3xl lg:text-5xl ", title_style]}>{title}</h1>
  <p class="text-xl">{description}</p>
</div>
</section>

<style define:vars={{ backgroundUrl: `url(${background_image?.src || ""})` }}>
   .hero-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      var(--backgroundUrl) ;
    background-color: black;
    background-position: center;
    background-size: auto 105%;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (min-width: 1200px) {
    .hero-background {
      background-size:  105%;
    }
  }
</style>

