<!-- <div class="developer-services-block">
    <h3 class="text-center" id="developer-services">Need help from expert Developers?</h3>
    <a href="https://www.linaro.org/services/"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
     data-src="{% asset_path 'Developer-Services.png' %}" class="img-responsive center-block lazyload" />
    </a>
</div> -->
<div class="submit-a-blog-post text-center">
    <h3 class="text-center">Want to submit your own blog post?</h3>
    <a class="btn btn-primary btn-sm" href="/blog/submit/">Submit Blog</a>
</div>
 
