<!-- <div class="developer-services-block">
    <h3 class="text-center" id="developer-services">Need help from expert Developers?</h3>
    <a href="https://www.linaro.org/services/"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
     data-src="{% asset_path 'Developer-Services.png' %}" class="img-responsive center-block lazyload" />
    </a>
</div> -->
<div class="submit-a-blog-post">
    <h3 class="text-center">Want to submit your own blog post?</h3>
    <button type="button" class="btn btn-primary btn-sm center-block" data-toggle="modal" data-target="#submitBlogPost">
    Submit
    </button>
    <!-- Modal 2 -->
    <div class="modal fade" id="submitBlogPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
              <div class="cognito">
              <script src="https://services.cognitoforms.com/s/KvRQmIn2dku6k6gGP711jw"></script>
              <script>Cognito.load("forms", { id: "12" });</script>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

  
