<div id="compare-boards-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Compare selected 96Boards</h4>
            </div>
            <div class="modal-body">
                <p>Select boards by clicking the checkbox next to each board and press the "Compare" button below to
                    compare your selected 96Boards!</p>
                <ul class="boards-to-compare"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="compare-btn" class="btn btn-primary" href="/products/compare/">Compare</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->