<div id="grid" class="container mixitup-container">
    {% assign projects = site.projects | where: "project", "true" %}
    {% assign order = 1 %}
    {% for each in projects %}
        {% assign project-uri = each.permalink | split: "/" %}
        {% assign project-uri = project-uri[2] | downcase  %}
        {% if each.title %}
            {% assign page_base = each.permalink | split: "/" %}
                <div data-name="{{each.title}}" class="{% if each.categories %}{% for tag in each.categories %}{{tag}} {% endfor %}{% endif %}project_block project-item mix all col-md-3 col-sm-4 col-xs-12" data-order="{{order}}">
                        <a href="{{each.permalink}}">
                            {% if each.thumbnail_image %}
                                {% capture image_path %}_projects/view/{{project-uri}}/images/{{each.thumbnail_image}}{% endcapture %}
                                {% capture full_path %}/projects/view/{{project-uri}}/images/{{each.thumbnail_image}}{% endcapture %}
                                {% responsive_image_block %}
                                template: _includes/thumb.html
                                path: {{ image_path }}
                                fullpath: {{ full_path }}
                                {% if each.title %}
                                title: {{ each.title}}
                                alt: {{ each.title }}
                                {% endif %}
                                {% endresponsive_image_block %}
                            {% elsif each.image.thumb %}
                                {% capture image_path %}_projects/view/{{project-uri}}/images/{{each.image.thumb}}{% endcapture %}
                                {% capture full_path %}/projects/view/{{project-uri}}/images/{{each.image.thumb}}{% endcapture %}
                                {% responsive_image_block %}
                                template: _includes/thumb.html
                                path: {{ image_path }}
                                fullpath: {{ full_path }}
                                {% if each.title %}
                                title: {{ each.title}}
                                alt: {{ each.title }}
                                {% endif %}
                                {% endresponsive_image_block %}
                            {% else %}
                                {% capture image_path %}_projects/view/{{project-uri}}/images/{{each.images[0]}}{% endcapture %}
                                {% capture full_path %}/projects/view/{{project-uri}}/images/{{each.images[0]}}{% endcapture %}
                                {% responsive_image_block %}
                                template: _includes/thumb.html
                                path: {{ image_path }}
                                fullpath: {{ full_path }}
                                {% if each.title %}
                                title: {{ each.title}}
                                alt: {{ each.title }}
                                {% endif %}
                                {% endresponsive_image_block %}
                            {% endif %}
                        </a>
                        <a href="{{each.permalink}}">
                            <h5 class="project_title">{{each.title | truncate: 30}}</h5>
                        </a>
                        <p class="project_description">
                            {% if each.description %}
                                {{each.description | truncatewords: 20 }}
                            {% else %}
                                {{ each.content | strip_html | truncatewords:20 }}
                            {% endif %}
                        </p>
                </div>
                {% assign order = order | plus: 1 %}
        {% endif %}
    {% endfor %}
</div>