<footer>
    <div class="row footer footer-main p-t-40">
        <div class="container">
            {% if site.data.footer.display-contact-details %}
            <div class="col-xs-12 col-sm-4 contact-details">
                <p>
                    <h3>For technical support:</h3>
                    <a href="https://discuss.96boards.org/">https://discuss.96boards.org/</a>
                    <br>
                    <h3>For all other enquiries:</h3>
                    <a href="mailto:96boards-team@linaro.org ">96boards-team@linaro.org</a> <br>
                </p>
                <address>
                    {% for address-line in site.address %}
                    {{address-line}}<br>
                    {% endfor %}
                </address>
                <h3>Follow us</h3>
                {% include_cached social-media-icons.html %}
            </div>
            {% endif %}
            {% if site.data.footer.second-column %}
            <div class="col-xs-12 col-sm-4 footer-column">
                <h3>{{site.data.footer.second-column.title}}</h3>
                <ul class="list-group">
                    {% if site.data.footer.second-column.latest-posts %}
                    {% include_cached latest-posts.html %}
                    {% else %}
                    {% for item in site.data.footer.second-column.items %}
                    <li class="list-group-item">
                        <a href="{{item.url}}">{{item.name}}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {% if site.data.footer.third-column %}
            <div class="col-xs-12 col-sm-4 footer-column">
                <h3>{{site.data.footer.third-column.title}}</h3>
                <ul class="list-group">
                    {% for item in site.data.footer.third-column.items %}
                    <li class="list-group-item">
                        <a href="{{item.url}}">{{item.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row footer-bottom p-t-20 p-b-20">
        <div class="container">
            <div class="col-xs-12 text-white text-center">
                Copyright &copy; {{ 'now' | date: "%Y" }} {{site.data.footer.copyright-text}}
                {% for link in site.data.footer.company-links %}
                <span class="coloured-bp">&bull;</span>
                <a href="{{link.url}}">{{link.name}}</a>
                {% endfor %}
            </div>
            <div class="col-xs-12 text-white text-center m-t-10">
                {% if site.data.footer.linaro-branding %}
                <a href="https://www.linaro.org">
                    <img src="/assets/images/Linaro-logo-white.png" class="footer-logo"
                        alt="Linaro Logo White Footer Icon" />
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
