<div class="row" id="giveaway_mezzanine">
    <div class="container">
        <div class="col-xs-12 text-center">
            <h2>Mezzanine</h2>
            <p>
                Choose between the following mezzanine boards if your project needs it!
            </p>
            <p>
                *subject to availability, limited free samples
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <select class="form-control" id="mezz_select">
                <option value="On Camera Mezzanine" selected="selected">On Camera Mezzanine</option>
                <option value="Shiratech Bosch Sensor Mezzanine">Shiratech Bosch Sensor Mezzanine</option>
                <option value="Shiratech LTE CAT-M1/NB1">Shiratech LTE CAT-M1/NB1</option>
                <option value="Tresor Mezzanine">Tresor Mezzanine</option>
                <option value="Shiratech FPGA Mezzanine">Shiratech FPGA Mezzanine</option>
                <option value="Shiratech LTE Mezzanine">Shiratech LTE Mezzanine</option>
                <option value="Audio Mezzanine">Audio Mezzanine</option>
                <option value="AiVA-96">AiVA-96</option>
                <option value="D3Camera">D3Camera</option>
                <option value="Ethernet Card">Ethernet Card</option>
                <option value="Link Sprite">Link Sprite</option>
                <option value="STM32 Sensor Mezzanine Board">STM32 Sensor Mezzanine Board</option>
                <option value="Analog Devices 3D Time Of Flight Mezzanine Stack">Analog Devices 3D Time Of Flight Mezzanine Stack</option>
            </select>
        </div>
        <div class="col-xs-12 mezzanine_image_col">
            <img id="mezz_image" class="img-responsive center-block m-t-30 lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="/assets/images/products/mezzanine/on-camera-front-sd.png" alt="On Camera Mezzanine"
            />
        </div>
    </div>
</div>
