<div class="row">
    <div class="container">
        <div class="col-xs-12 text-center">
            <h2>Main</h2>
            <p>
                Choose either the Avenger96 or IoT Box!
            </p>
        </div>
        <div class="col-xs-12">
            <div id='beforeAndAfterContainer' class='twentytwenty-container'>
                <img style="width:100%" alt="IoT Box" test-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    src='/assets/images/content/stinger96-front.jpg'>
                <img alt="Avenger96" style="width:100%" test-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    src="/assets/images/content/avenger96-front-sd.png">
            </div>
        </div>
    </div>
</div>
