<h1 class="fade-in-one" id="homepage-heading">
    Develop &amp; Prototype on the<br>
     <b>Latest Arm Technology</b>
 </h1> 
 
 <p class="sub-tag center-block fade-in-two">
      <span>96Boards is a range of specifications with boards and peripherals offering</span> <br>
      <span>different performance levels and features in a standard footprint.</span>
  </p> 
  <p id="buttons">
      <a class="btn btn-primary btn-lg fade-in-three bottom-border-five" href="/products/" role="button">Explore Boards</a>
      <a class="btn btn-primary btn-lg fade-in-three bottom-border-five" href="/specifications/" role="button">96Boards Specifications</a>
      <a class="btn btn-primary btn-lg fade-in-three bottom-border-five" href="https://www.96boards.ai/" role="button">96Boards.ai</a>
</p>