{% if page.js-package %}
    {% capture js-package %}package-{{page.js-package}}{% endcapture %}
    <script type="text/javascript" src="{% asset_path {{js-package}}  %}"></script>
{% elsif layout.js-package %}
    {% capture js-package %}package-{{layout.js-package}}{% endcapture %}
    <script type="text/javascript" src="{% asset_path {{js-package}}  %}"></script>
{% else %}
    <script type="text/javascript" src="{% asset_path package-main  %}"></script>
{% endif %}
{% if page.permalink == "/go/wistem-2018/" %}
<script type="text/javascript"> _linkedin_data_partner_id = "330252"; </script>
<script type="text/javascript"> 
(function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); 
</script> 
<noscript> 
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=330252&fmt=gif" /> 
</noscript>
{% endif %}

