<div id="members-section">
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards Manufacturing Partners
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-mp"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards Steering Committee
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-sc"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards Partners
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-mezzanine"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards AI Partners
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-ai"></div>
                </div>
            </div>
        </div>
    </div>
</div>
