{% assign boards_mp = site.data.members | where: 'id', "boards-mp" %}
<div id="members-section">
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards Manufacturing Partners
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-mp">
                        {% for member in boards_mp %}
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="https://www.linaro.org" target="_blank">
                                <img data-src="" alt="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="img-responsive members-img center-block lazyload" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards Steering Committee
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-sc"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards Partners
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-mezzanine"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        96Boards AI Partners
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-ai"></div>
                </div>
            </div>
        </div>
    </div>
</div>
