<div id="members-section">
    <div class="row margin-top">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading">96Boards Manufacturing Partners</div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-mp"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading">96Boards Steering Committee</div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-sc"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading">96Boards Partners</div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-mezzanine"></div>
                </div>
            </div>
        </div>
    </div>
</div>

