<div class="row content-row padded-row testimonials" id="testimonials">
    <div class="container">
        <h2 class="text-center  m-b-30">The value of being a 96Boards Partner</h2>
        <div class="col-xs-12 col-sm-offset-2 col-sm-4  text-center testimonial-col">
            <div class="col-xs-12 no-padding">
                <!-- <video controls="controls" class="lazyload img-responsive" poster="/assets/images/content/thomas-molgaard-screen.png" preload="none">
                    <source src="https://static.linaro.org/videos/ThomasMolgaardTestimonial.ogv" type="video/ogg">
                    <source src="https://static.linaro.org/videos/ThomasMolgaardTestimonial.webm" type="video/webm">
                    <source src="https://static.linaro.org/videos/ThomasMolgaardTestimonial.mp4" type="video/mp4">
                </video> -->
                <div class="embed-responsive embed-responsive-16by9" >
                    <iframe class="embed-responsive-item"  frameborder="0" allowfullscreen src="https://www.youtube.com/embed/4Qu2QI0ISBo"></iframe>
                </div>
            </div>
            <div class="col-xs-12 no-padding testimonial-col text-center">
                <h4>Avnet - Kevin Keryk </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4  text-center testimonial-col">
            <div class="col-xs-12 no-padding">
                <!-- <video controls="controls" class="lazyload img-responsive" poster="/assets/images/content/jon-masters-screen.png" preload="none">
                    <source src="https://static.linaro.org/videos/JonMastersTestimonial.ogv" type="video/ogg">
                    <source src="https://static.linaro.org/videos/JonMastersTestimonial.webm" type="video/webm">
                    <source src="https://static.linaro.org/videos/JonMastersTestimonial.mp4" type="video/mp4">
                </video> -->
                <div class="embed-responsive embed-responsive-16by9" >
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen  src="https://www.youtube.com/embed/_GpE0P37Res"></iframe>
                </div>
            </div>
            <div class="col-xs-12 no-padding testimonial-col text-center">
                <h4>Arrow - Attila Ambrus</h4>
            </div>
        </div>
    </div>
</div>