<div class="row content padded-row-30" id="specifications-row">
    <div class="container">
        <h2>The Specifications</h2>
        <div id="board-specifications" class="hidden-xs">
            <div class="row remove-margins">
                <div class="col-sm-6">
                    <div class="spec">
                        <div class="col-sm-4 image-container">
                            <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-Consumer-200x200.png"></div>
                        </div>
                        <div class="col-sm-8 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The 96boards Consumer Edition(CE) specification targets the mobile, embedded and digital home segments.
                                </p>
                            </div>
                            
                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/ce/">Explore Boards</a>
                                <a class="btn view-spec" href="https://linaro.co/ce-specification">View Specification</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="spec">
                        <div class="col-sm-4 image-container">
                            <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-Enterprise-200x200.png"></div>
                        </div>
                        <div class="col-sm-8 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The 96Boards Enterprise Edition (EE) specification targets the networking and server segments
                                </p>
                            </div>
                            
                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/ee/">Explore Boards</a>
                                <a class="btn view-spec" href="https://linaro.co/ee-specification">View Specification</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="spec">
                        <div class="col-sm-4 image-container">
                            <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-IoT-200x200.png"></div>
                        </div>
                        <div class="col-sm-8 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The 96Boards IoT Edition (IE) platform is designed to support development in the Internet of Things (IoT) space.
                                </p>
                            </div>

                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/ie/">Explore Boards</a>
                                <a class="btn view-spec" href="https://linaro.co/ie-specification">View Specification</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="spec">
                        <div class="col-sm-4 image-container">
                            <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-Partner-200x200.png"></div>
                        </div>
                        <div class="col-sm-8 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    Explore a wide variety of Partner 96Boards mezzanines, accessories and more to expand on your development experience.
                                </p>
                            </div>

                            <div class="col-xs-12 no-padding">
                                <a class="btn spec-button" href="/products/mezzanine/">Explore Boards</a>
                                <a class="btn view-spec" href="https://github.com/96boards/documentation/raw/master/mezzanine/files/mezzanine-design-guidelines.pdf">View Guidelines</a>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="spec">
                        <div class="col-sm-4 image-container">
                            <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_vertical-96Boards-100x100.png"></div>
                        </div>
                        <div class="col-sm-8 desc">
                            
                            <div class="col-xs-12 no-padding">
                                <p>
                                    The SoM Edition (SoM) (Wireless and Compute) encourages the development of reliable and cost-effective embedded
                                    platforms for building end-products.
                                </p>
                            </div>
                            <div class="col-xs-12 no-padding">
                                <a class="btn view-spec" target="_blank" href="https://linaro.co/som-spec">Compute</a>
                                <a class="btn view-spec" target="_blank" href="https://linaro.co/som-w-spec">Wireless</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="specification-carousel owl-carousel owl-theme visible-xs" id="homeSpecificationCarousel">         
                        
            <div class="owl-item__inner">
                <div class="spec">
                    <div class="col-xs-12 image-container">
                        <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-Consumer-200x200.png"></div>
                    </div>
                    <div class="col-xs-12 desc">
                        
                        <div class="col-xs-12 no-padding">
                            <p>
                                The 96boards Consumer Edition(CE) specification targets the mobile, embedded and digital home segments.
                            </p>
                        </div>
                        
                        <div class="col-xs-12 no-padding">
                            <a class="btn spec-button" href="/products/ce/">Explore Boards</a>
                            <a class="btn view-spec" href="https://linaro.co/ce-specification">View Specification</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="owl-item__inner">
                <div class="spec">
                    <div class="col-xs-12 image-container">
                        <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-Enterprise-200x200.png"></div>
                    </div>
                    <div class="col-xs-12 desc">
                        
                        <div class="col-xs-12 no-padding">
                            <p>
                                The 96Boards Enterprise Edition (EE) specification targets the networking and server segments
                            </p>
                        </div>
                        
                        <div class="col-xs-12 no-padding">
                            <a class="btn spec-button" href="/products/ee/">Explore Boards</a>
                            <a class="btn view-spec" href="https://linaro.co/ee-specification">View Specification</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="owl-item__inner">
                <div class="spec">
                    <div class="col-xs-12 image-container">
                        <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-IoT-200x200.png"></div>
                    </div>
                    <div class="col-xs-12 desc">
                        
                        <div class="col-xs-12 no-padding">
                            <p>
                                The 96Boards IoT Edition (IE) platform is designed to support development in the Internet of Things (IoT) space.
                            </p>
                        </div>

                        <div class="col-xs-12 no-padding">
                            <a class="btn spec-button" href="/products/ie/">Explore Boards</a>
                            <a class="btn view-spec" href="https://linaro.co/ie-specification">View Specification</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        
            <div class="owl-item__inner">
                <div class="spec">
                    <div class="col-xs-12 image-container">
                        <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_v-Partner-200x200.png"></div>
                    </div>
                    <div class="col-xs-12 desc">
                        
                        <div class="col-xs-12 no-padding">
                            <p>
                                The 96boards Consumer Edition(CE) specification targets the mobile, embedded and digital home segments.
                            </p>
                        </div>

                        <div class="col-xs-12 no-padding">
                            <a class="btn spec-button" href="/products/mezzanine/">Explore Boards</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="owl-item__inner">
                <div class="spec">
                    <div class="col-xs-12 image-container">
                        <div class="lazyload spec-image" data-bg="/assets/images/content/96Boards-Logo_vertical-96Boards-100x100.png"></div>
                    </div>
                    <div class="col-xs-12 desc">
                        <div class="col-xs-12 no-padding">
                            <p>
                                The SoM Edition (SoM) (Wireless and Compute) encourages the development of reliable and cost-effective embedded
                                platforms for building end-products.
                            </p>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <a class="btn view-spec" target="_blank" href="https://linaro.co/som-spec">Compute</a>
                            <a class="btn view-spec" target="_blank" href="https://linaro.co/som-w-spec">Wireless</a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>   
    </div>
</div>