<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitProject">
Submit a project
</button>

<!-- Modal 2 -->
<div class="modal fade" id="submitProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit a project</h4>
      </div>
      <div class="modal-body">
          <div class="cognito">
          <script src="https://services.cognitoforms.com/s/KvRQmIn2dku6k6gGP711jw"></script>
          <script>Cognito.load("forms", { id: "9" });</script>
          </div>
      </div>
    </div>
  </div>
</div>
