---
title: Compare 96Boards
permalink: /products/compare/
layout: jumbotron-container
css-package: products
js-package: products-compare
---
<select id="compare-96boards-select" multiple="multiple">
    <optgroup label="Consumer Edition" class="consumer-edition-group">
        {% assign products_array = site.product | where: "product_specification", "ce" %}
        {% assign products_array = products_array | where: "display_product", "true" %}
        {% for product in products_array %}
        <option value="{{product.permalink | replace: "/product/", "" | replace: "/", ""}}">{{product.title}}</option>
        {% endfor %}
    </optgroup>
    <optgroup label="Enterprise Edition" class="enterprise-edition-group">
        {% assign products_array = site.product | where: "product_specification", "ee" %}
        {% assign products_array = products_array | where: "display_product", "true" %}
        {% for product in products_array %}
        <option value="{{product.permalink | replace: "/product/", "" | replace: "/", ""}}">{{product.title}}</option>
        {% endfor %}
    </optgroup>
    <optgroup label="IoT Edition" class="iot-edition-group">
        {% assign products_array = site.product | where: "product_specification", "ie" %}
        {% assign products_array = products_array | where: "display_product", "true" %}
        {% for product in products_array %}
        <option value="{{product.permalink | replace: "/product/", "" | replace: "/", ""}}">{{product.title}}</option>
        {% endfor %}
    </optgroup>
    <optgroup label="Mezzanine Edition" class="mezzanine-edition-group">
        {% assign products_array = site.product | where: "product_specification", "mezzanine" %}
        {% assign products_array = products_array | where: "display_product", "true" %}
        {% for product in products_array %}
        <option value="{{product.permalink | replace: "/product/", "" | replace: "/", ""}}">{{product.title}}</option>
        {% endfor %}
    </optgroup>
</select>


{% assign products_array = site.product | ascending %}
{% assign products_array = products_array | where: "display_product", "true" %}

{% assign product_specs = site.data.board-details %}

{% assign rawtags = "" %}

{% for product in product_specs %}
{% for attr in product.attributes %}
{% assign ttags = attr.name | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% endfor %}


{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<select id="compare-96boards-attribute-select" multiple="multiple">
    <option value="price">Price</option>
    <option value="image">Image</option>
    {% for attr in tags %}
    <option value="{{attr}}">{{attr}}</option>
    {% endfor %}
</select>


<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#compare-vertical" aria-controls="compare-vertical" role="tab" data-toggle="tab">
                <img class="lazyload img-responsive" data-src="/assets/images/content/table-icon-horizontal.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    alt="Horizontal Compare Table" data-toggle="tooltip" data-placement="top" title="Display Boards Vertically" />
            </a>
        </li>
        <li role="presentation">
            <a href="#compare-horizontal" aria-controls="compare-horizontal" role="tab" data-toggle="tab">
                <img class="lazyload img-responsive" data-src="/assets/images/content/table-icon-vertical.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    alt="Vertical Compare Table" data-toggle="tooltip" data-placement="right" title="Display Boards Horizontally" />
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active no-padding" id="compare-vertical">
            <div id="compare-table-vertical" class="compare-table double-scroll">
                <table>
                    <thead>
                        <th></th>
                        <th class="attr attr-heading" data-attr="image">
                            Image <i data-toggle="tooltip" data-placement="top" title="Remove Attribute" class="fa fa-times removeAttribute"></i>
                        </th>
                        <th class="attr attr-heading" data-attr="price"> Price <i data-toggle="tooltip" data-placement="top"
                                title="Remove Attribute" class="fa fa-times removeAttribute"></i> </th>
                        {% for attr in tags %}
                        <th data-attr="{{attr}}" class="attr attr-heading">{{attr}} <i data-toggle="tooltip"
                                data-placement="top" title="Remove Attribute" class="fa fa-times removeAttribute"></i>
                        </th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for board in products_array %}
                        <tr>
                            <td class="board" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}">
                                {{board.title}} <a class="btn btn-default btn-xs" href="{{board.url}}">Buy Now</a> <i
                                    data-toggle="tooltip" data-placement="top" title="Remove Board" class="fa fa-times"></i>
                            </td>
                            {% assign product-url = board.permalink | split: "/" %}
                            <td class="board" data-attr="image" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"
                                class="data">
                                <a href="#" data-featherlight="../../product/{{board.product_specification}}/{{product-url[2]}}/images/{{board.product_images[0]}}">
                                    {% capture image_path
                                    %}_product/{{board.product_specification}}/{{product-url[2]}}/images/{{board.product_images[0]}}{%
                                    endcapture %}
                                    {% capture full_path
                                    %}../../product/{{board.product_specification}}/{{product-url[2]}}/images/{{board.product_images[0]}}{%
                                    endcapture %}
                                    {% responsive_image_block %}
                                    template: _includes/thumb.html
                                    path: {{ image_path }}
                                    fullpath: {{ full_path }}
                                    {% if board.title %}
                                    title: {{ board.title}}
                                    alt: {{ board.title }}
                                    {% endif %}
                                    {% endresponsive_image_block %}
                                </a>
                            </td>
                            <td class="board" data-attr="price" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"
                                class="data">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Buy Links
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for buy_link in board.product_buy_links %}
                                        <li {% if buy_link.from %}data-toggle="tooltip" data-placement="right" title="Buy from {{buy_link.from}}"
                                            {% endif %}>
                                            <a href="{{ buy_link.link-url }}">
                                                {% if buy_link.link-price %}
                                                {% if buy_link.link-price-currency %}
                                                {% if buy_link.link-price-currency == "JPY" %}
                                                JP&yen;
                                                {% else %}
                                                {{buy_link.link-price-currency}}
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {{buy_link.link-price}}
                                                {% if buy_link.type == "package" %}(Package Deal){% endif %}
                                                {% if buy_link.type == "board" %}(Board){% endif %}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                            {% for attr in tags %}
                            {% assign board-details = site.data.board-details | where: "id", board.url | first %}
                            {% assign found = "false" %}
                            {% for each in board-details.attributes %}
                            {% if each.name == attr %}
                            <td class="board" data-attr="{{attr}}" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"
                                class="data">{{each.value
                                | replace: '"', '' }}</td>
                            {% assign found = "true" %}
                            {% break %}
                            {% endif %}
                            {% endfor %}
                            {% if found == "false" %}
                            <td class="board" data-attr="{{attr}}" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}">
                                - </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade no-padding" id="compare-horizontal">
            <div id="compare-table" class="compare-table double-scroll">
                <table>
                    <thead>
                        <th data-attr="attr" class="attr attr-heading"></th>
                        {% for board in products_array %}
                        <th class="board" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}">
                            {{board.title}} <a class="btn btn-default btn-xs" href="{{board.url}}">Buy Now</a> <i
                                data-toggle="tooltip" data-placement="top" title="Remove Board" class="fa fa-times"></i>
                        </th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        <tr data-attr-row="image">
                            <td class="attr attr-heading" data-attr="image"> Image <i data-toggle="tooltip"
                                    data-placement="top" title="Remove Attribute" class="fa fa-times removeAttribute"></i></td>
                            {% for board in products_array %}
                            {% assign product-url = board.permalink | split: "/" %}
                            <td class="board" data-attr="image" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"
                                class="data">
                                <a href="#" data-featherlight="../../product/{{board.product_specification}}/{{product-url[2]}}/images/{{board.product_images[0]}}">
                                    {% capture image_path
                                    %}_product/{{board.product_specification}}/{{product-url[2]}}/images/{{board.product_images[0]}}{%
                                    endcapture %}
                                    {% capture full_path
                                    %}../../product/{{board.product_specification}}/{{product-url[2]}}/images/{{board.product_images[0]}}{%
                                    endcapture %}
                                    {% responsive_image_block %}
                                    template: _includes/thumb.html
                                    path: {{ image_path }}
                                    fullpath: {{ full_path }}
                                    {% if board.title %}
                                    title: {{ board.title}}
                                    alt: {{ board.title }}
                                    {% endif %}
                                    {% endresponsive_image_block %}
                                </a>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr data-attr-row="price">
                            <td class="attr attr-heading" data-attr="price"> Price <i data-toggle="tooltip"
                                    data-placement="top" title="Remove Attribute" class="fa fa-times removeAttribute"></i>
                            </td>
                            {% for board in products_array %}
                            <td class="board" data-attr="price" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"
                                class="data">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Buy Links
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for buy_link in board.product_buy_links %}
                                        <li {% if buy_link.from %}data-toggle="tooltip" data-placement="right" title="Buy from {{buy_link.from}}"
                                            {% endif %}>
                                            <a href="{{ buy_link.link-url }}">
                                                {% if buy_link.link-price %}
                                                {% if buy_link.link-price-currency %}
                                                {% if buy_link.link-price-currency == "JPY" %}
                                                JP&yen;
                                                {% else %}
                                                {{buy_link.link-price-currency}}
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {{buy_link.link-price}}
                                                {% if buy_link.type == "package" %}(Package Deal){% endif %}
                                                {% if buy_link.type == "board" %}(Board){% endif %}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% for attr in tags %}
                        <tr data-attr-row="{{attr}}">
                            <td data-attr="{{attr}}" class="attr attr-heading">{{attr}} <i data-toggle="tooltip"
                                    data-placement="top" title="Remove Attribute" class="fa fa-times removeAttribute"></i>
                            </td>
                            {% for board in products_array %}
                            {% assign board-details = site.data.board-details | where: "id", board.url | first %}
                            {% assign found = "false" %}
                            {% for each in board-details.attributes %}
                            {% if each.name == attr %}
                            <td class="board" data-attr="{{attr}}" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"
                                class="data">{{each.value | replace: '"', '' }}</td>
                            {% assign found = "true" %}
                            {% break %}
                            {% endif %}
                            {% endfor %}
                            {% if found == "false" %}
                            <td class="board" data-attr="{{attr}}" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}">
                                - </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>