---
interface Props {
  buttons_content: {
    url: string;
    title: string;
    style: string;
  }[];
  style: string;
}
const { style, buttons_content } = Astro.props;
---

<div
  class:list={[
    "py-6 flex flex-wrap justify-center items-center gap-3 px-5 max-w-5xl mx-auto",
    style,
  ]}
>
  {
    buttons_content.map(({ title, url, style: buttonStyle }) => {
      return (
        <a class:list={[buttonStyle]} href={url}>
          {title}
        </a>
      );
    })
  }
</div>
