---
const { style, text_content } = Astro.props;
import * as marked from "marked";
const markdown = marked.parse(text_content.text);
---

<div class:list={["prose px-4", style]}>
  <p set:html={markdown} class={style} />
</div>
