---
const {
  style,
  title_content: { text, size },
} = Astro.props;
import * as marked from "marked";
const markdown = marked.parse(text);
const Element = size;
---

<div class:list={[style, "py-4"]}><Element set:html={markdown} /></div>
