---
title: Compare 96Boards
permalink: /products/compare/
layout: jumbotron-container
css-package: products
js-package: products-compare
---
{% assign products_array = site.product | ascending %}
{% assign products_array = products_array | where: "display_product", "true" %}

{% assign product_specs = site.data.board-details %}

{% assign rawtags = "" %}

{% for product in product_specs %}
    {% for attr in product.attributes %}
        {% assign ttags = attr.name | join:'|' | append:'|' %}
        {% assign rawtags = rawtags | append:ttags %}
    {% endfor %}
{% endfor %}


{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div id="compare-table">
    <table>
        <thead>
            <th>Atrributes</th>
            {% for board in products_array %}
                <th class="board" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"><a href="{{board.url}}">{{board.title}}</a></th>
            {% endfor %}
        </thead>
        <tbody>
            {% for attr in tags %}
                <tr>
                    <td>{{attr}}</td>
                    {% for board in products_array %}
                        {% assign board-details = site.data.board-details | where: "id", board.url | first %}
                        {% assign found = "false" %}
                        {% for each in board-details.attributes %}
                            {% if each.name == attr %}
                                <td class="board" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}" class="data" data-toggle="tooltip" data-placement="top" title="{{each.value}}">{{each.value | replace: '"', '' }}</td>
                                {% assign found = "true" %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if found == "false" %}
                            <td class="board" data-board="{{board.url | replace: "/product/", "" | replace: "/", ""}}"> - </td>
                        {% endif  %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>