---
title: Compare 96Boards
permalink: /products/compare/
layout: jumbotron-container
---
{% assign products_array = site.product | ascending %}
{% assign products_array = products_array | where: "display_product", "true" %}

{% assign product_specs = site.data.board-details %}

{% assign rawtags = "" %}

{% for product in product_specs %}
    {% for attr in product.attributes %}
        {% assign ttags = attr.name | join:'|' | append:'|' %}
        {% assign rawtags = rawtags | append:ttags %}
    {% endfor %}
{% endfor %}


{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}
<div class="table-responsive">
<table class="table">
    <thead>
        <th>Board</th>
        {% for attr in tags %}
        <th> {{attr}} </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for board in products_array %}
        <tr>
            <td><a href="{{board.url}}">{{board.title}}</a></td>
            {% assign board-details = site.data.board-details | where: "id", board.url | first %}
            {% for attr in tags %}
                {% assign found = "false" %}
                {% for each in board-details.attributes %}
                    {% if attr == each.name %}
                        <td>{{each.value | lstrip: '"' | rstrip: '"' }}</td>
                        {% assign found = "true" %}
                        {% break %}
                    {% endif %}
                {% endfor %}
                {% if found == "false" %}
                    <td> - </td>
                {% endif  %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>