---
import type { GetImageResult } from "astro";
import ProductGrid from "../products/ProductGrid";
import { getCollection, type CollectionEntry } from "astro:content";

const { specification } = Astro.props;
const products = (await getCollection("products")).filter((product) => {
  return (
    specification === "all" ||
    product.data.product_specification.slug === specification
  );
});
const specifications = await getCollection("specifications");
const specificationThumbnails = specifications.reduce(
  (obj, spec) => ({
    ...obj,
    [spec.slug]: spec.data.thumbnail,
  }),
  {}
) as Record<CollectionEntry<"specifications">["slug"], GetImageResult>;
---

<section class="container mx-auto">
  <ProductGrid
    products={products}
    specificationThumbnails={specificationThumbnails}
    client:only="solid-js"
  />
</section>
