<div class="row content padded-row-30" id="featured-products-row">
    <div class="container">
        <div class="row">
            <div class="col col-12 text-center">
                <h2 id="featured-boards">
                    Each board has its own <strong>unique features</strong>, you can <strong>pick and choose</strong><br />
                    one based on the project you are working on.
                </h2>
            </div>
        </div>
        <div class="row">
            <div id="featured-products-wrapper" class="hidden-xs">
                {% assign featuredBoards = site.product | sort: 'dateAdded' | reverse %}

                {% for product in featuredBoards limit: 6 %}

                    {% assign url-name = product.permalink | split: "/" %}
                    {% assign url-slug = url-name[2] %}

                    {% if product.product_images.first %}
                        {% assign product_image = product.product_images.first %}
                    {% else %}
                        {% assign product_image = product.product_images %}
                    {% endif %}

                    {% if forloop.index < 4 %}
                    <div class="col col-12 col-sm-4 featured-product">
                    <a href="{{product.url}}">
                            <h3 class="featured-product-title">{{product.title}}</h3>
                            {% if product.product_buy_links[0].link-price %}<span class="featured-product-price">From {{product.product_buy_links[0].link-price}}</span>{% endif %}
                            {% capture image_path %}_product/{{product.product_specification}}/{{url-slug}}/{{ product_image }}{% endcapture %}
                            {% capture image_alt %}{{ product.title }} image{% endcapture %}
                            {% picture card_block_image {{image_path}} --alt {{image_alt}} %}
                        </a>
                    </div>
                    {% else %}
                    <div class="col col-12 col-sm-4 featured-product bottom">
                    <a href="{{product.url}}">
                            <h3 class="featured-product-title">{{product.title}}</h3>
                            {% if product.product_buy_links[0].link-price %}<span class="featured-product-price">From {{product.product_buy_links[0].link-price}}</span>{% endif %}
                            {% capture image_path %}_product/{{product.product_specification}}/{{url-slug}}/{{ product_image }}{% endcapture %}
                            {% capture image_alt %}{{ product.title }} image{% endcapture %}
                            {% picture card_block_image {{image_path}} --alt {{image_alt}} %}
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="home-carousel owl-carousel owl-theme visible-xs" id="homeCarousel">

                {% for product in featuredBoards limit: 6 %}
                    {% assign products = site.product %}
                    {% assign product = "" %}
                    {% for each in products %}
                        {% if each.permalink == featuredProduct.id %}
                            {% assign product = each %}
                        {% endif %}
                    {% endfor %}
                    {% assign url-name = product.permalink | split: "/" %}
                    {% assign url-slug = url-name[2] %}

                    {% if product.product_images.first %}
                        {% assign product_image = product.product_images.first %}
                    {% else %}
                        {% assign product_image = product.product_images %}
                    {% endif %}

                    <a href="{{product.url}}">
                        <div class="owl-item__inner">
                            <div class="col col-12 visible-xs">
                                <h3 class="featured-product-title">{{product.title}}</h3>
                                {% if product.product_buy_links[0].link-price %}<span class="featured-product-price">From
                                    {{product.product_buy_links[0].link-price}}</span>{% endif %}
                                {% capture image_path %}_product/{{product.product_specification}}/{{url-slug}}/{{ product_image }}{% endcapture %}
                                {% capture image_alt %}{{ product.title }} image{% endcapture %}
                                {% picture card_block_image {{image_path}} --alt {{image_alt}} %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div> <!-- // home product-carousel -->

        </div>
        <div class="row">
            <div class="col col-12 text-center">
                <a id="explore-boards" class="btn btn-primary" href="/products/">Explore Boards</a>
            </div>
        </div>
    </div>
</div>
