---
layout: container-breadcrumb-tabs
title: Internet of Things Edition
css-package: products
js-package: products
permalink: "/products/ie/"
description: |-
    The 96Boards IoT Edition (IE) platform is designed to support development in the Internet of Things (IoT) space.
specification_path: /documentation/Specifications/96Boards-IE-Specification.pdf
specification_link: https://linaro.co/ie-specification
specification_image: 96Boards-Logo_IoT.png
---
<div class="row">
    <div class="col-md-8" class="description">
            <p id="collection-description">{{ page.description }}</p>
    </div>
    <div class="col-md-4">
            <img id="collection-image" class="img-responsive center-block hidden-sm hidden-xs" src="{% asset_path '{{page.specification_image}}' %}" alt="96Boards logo small.">
            <br/>
            <a href="{{ page.specification_link }}" id="specification-button" class="btn btn-primary center-block specification-image">Specification <i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
    </div>
</div>
{% include product-filters.html hide_spec="true" %}
{% include compare-boards-modal.html %}
{% include display-products.html specification="ie" %}