---
layout: jumbotron
js-package: projects
css-package: projects
---
<div class="row" id="content-container">
    {% include 96boards-tab-bar.html %}
    <div class="container">
        <div class="row">
            {% if page.images %}
            <div class="col-xs-12 col-md-4 col-md-push-8">
                <div class="owl-carousel owl-theme" id="product-image">
                    {% for project_image in page.images %}
                        {% assign page-uri = page.permalink | split: "/" %}
                        {% assign page-uri = page-uri[2] | downcase  %}
                        <div class="activity-block item">
                            <a href="#" data-featherlight="../view/{{page-uri}}/images/{{project_image}}" data-title="{{page.title}}">
                                {% capture image_path %}_projects/view/{{page-uri}}/images/{{project_image}}{% endcapture %}
                                {% capture full_path %}../view/{{page-uri}}/images/{{project_image}}{% endcapture %}
                                {% responsive_image_block %}
                                template: _includes/thumb.html
                                path: {{ image_path }}
                                fullpath: {{ full_path }}
                                {% if product.title %}
                                title: {{ product.title}}
                                alt: {{ product.title }}
                                {% endif %}
                                {% endresponsive_image_block %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="col-sm-12 col-md-8 col-md-pull-4">
                {{content}}
            </div>
        </div>
    </div>
</div>


