---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

const { event } = Astro.props;

const { Content } = await event.render();
---

<BaseLayout title={event.data.title} description={event.data.description}>
  <div
    class="prose-xl md-content max-w-5xl first-line:text-left p-4 md:p-12 blog-content mx-auto"
  >
    <Content />
  </div>
</BaseLayout>
