---
import { getEntry } from "astro:content";
import NavTabWrapper from "./NavTabWrapper.astro";
const navData = await getEntry("data", "nav");
const url = Astro.url;
function findNavSiblings(navData: any[], url: string): any {
  for (const navItem of navData) {
    if (navItem.url === url) {
      return navData;
    } else if (navItem.children) {
      const found = findNavSiblings(navItem.children, url);
      if (found) return found;
    }
  }
}

const siblings = findNavSiblings(navData.data, url.pathname);
type Sibling = {
  label: string;
  url: string;
  sticky_label?: string;
  sticky_exclude?: boolean;
};
---

<NavTabWrapper>
  <ul
    class="list-none flex flex-col items-center justify-center w-full lg:flex-row no-underline gap-5 text-md p-0 m-0 h-auto lg:h-16"
  >
    {
      siblings
        .filter((sibling: Sibling) => !sibling.sticky_exclude)
        .map((sibling: Sibling) => (
          <li>
            <a
              href={sibling.url}
              class:list={[
                url.pathname === sibling.url
                  ? "bg-neutral-600 text-white px-6 py-4 rounded-lg"
                  : "",
                ,
                "no-underline",
              ]}
            >
              {sibling.sticky_label || sibling.label}
            </a>
          </li>
        ))
    }
  </ul>
</NavTabWrapper>

<script>
  import { Collapse, initTE } from "tw-elements";
  initTE({ Collapse });
</script>
